.header-item {
  position: relative;
  background-color: #1e87f0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  vertical-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.3);
}

.header-item .uk-button-default {
   color: #fff;
}

.header-item .uk-button-default:hover {
  color: #fff;
}

.full-description {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.center-container {
  width: 60%;
  padding: 50px 20px;
  display: flex;
  justify-content:center;
  box-sizing: border-box;
  margin: 10px auto 0;
}

.account-container {
  padding: 50px 40px;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
}

.center-container img {
  width: 100%;
  height: 24vh;
}

.image-with-info {
  width: 34%;
  min-width: 200px;
}

.lot-description {
  padding: 0 0 0 30px;
  min-width:35%;
}

.info  span{
  font-weight: bold;
}

.name-of-person {
  margin-top: 20px;
}

.info p {
  margin: 0 0 10px 0;
}

.info {
  text-align: center;
  padding: 0;
  padding-top: 20px;
}

.uk-card-body .info {
  padding-top: 0px;
}

.uk-card .head-item {
  position: relative;
  top: -22px;
  background-color: #1e87f0;
  max-width:120px;
  margin:0 auto;
  padding: 8px 60px;
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}

.uk-card .head-item h3{
  color: #fff;
  margin-bottom: 0;
}

.forgot-password {
  color: #999;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-gap: 30px 40px;
  align-items: center;
  justify-content: center;
  padding: 38px 80px 38px 80px;
}

.account-lots {
  width: 76%;
}

.account-lots .card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: left;
  padding: 0;
  padding-top: 12px;
}

.card-image {
  background-image: url(images/default-image-for-lot.png);
}

.uk-navbar-container {
  box-shadow:  1px 0px 2px 0px rgba(0,0,0,0.2);
}

.uk-card-body {
  padding: 20px 20px 4px 20px;
}

.acc-info {
  max-width: 20%;
  min-width: 211px;
  margin-right: 120px;
}

.acc-info > img {
  width: 100%;
  max-width: 220px;
  height: 180px;
}

.uk-subnav {
  /* margin-left: 20px; */
}

.uk-subnav > * {
  border-left: 1px solid #e5e5e5;
}

.uk-subnav li:last-child{
  border-right: 1px solid #e5e5e5;
}