.header-item {
  background-color: #1e87f0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  vertical-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 9px 3px rgba(0,0,0,0.3);
}

.header-item .uk-button-default {
   color: #fff;
}

.header-item .uk-button-default:hover {
  color: #fff;
}

.full-description {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.center-container {
  width: 60%;
  padding: 50px 20px;
  display: flex;
  justify-content:center;
  box-sizing: border-box;
  margin: 10px auto 0;
}

.center-container img {
  width: 100%;
  height: 24vh;
}

.image-with-info {
  width: 34%;
}

.lot-description {
  padding: 0 0 0 30px;
  min-width:35%;
}

.info p span {
  font-weight: bold;
}

.info p {
  margin: 0 0 10px 0;
}

.info {
  text-align: center;
  padding: 0;
  min-width: 200px;
  margin-top: 20px;
}

.uk-card .head-item {
  position: relative;
  top: -22px;
  background-color: #1e87f0;
  max-width:120px;
  margin:0 auto;
  padding: 8px 60px;
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}

.uk-card .head-item h3{
  color: #fff;
  margin-bottom: 0;
}

.forgot-password {
  color: #999;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 14px 16px;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
}

.card-image {
  background-image: url(images/default-image-for-lot.png);
}

.uk-navbar-container {
  box-shadow:  1px 0px 7px 0px rgba(0,0,0,0.2);
}