html, body {
    margin: 0;
    padding: 0;
    font-family: "PT Serif", serif;
    background-color: #F0F0F0;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

.white {
    background-color: #fff;
}

.red {
    background-color: #D0021B;
}

header {
    position: absolute;
    z-index: 100;
    height: 128px;
    top: 0;
    width: 100%;
    color: #FFFFFF;
}

header .content {
    display: flex;
    justify-content: space-between;
}

header ul {
    text-align: right;
    margin: 0;
}

header li h3 {
    position: relative;
    margin: 0;
}

header li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 24px;
    color: #FFF;
    font-size: 24px;
    letter-spacing: 8px;
    cursor: pointer;
}

header li:before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 100%;
    height: 12px;
    background-color: #D0021B;
}

header .logo-container {
    display: flex;
    margin: 20px 0;
    font-size: 36px;
    letter-spacing: 10px;
    cursor: pointer;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 64px 0 64px 0;
}

header .logo:last-child {
    margin-right: 30px;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("./bg.jpg") center no-repeat;
    background-size: cover;
}

.masthead > h1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 41px);
    margin: 0;
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #fff;
}

.tint {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.3);
    z-index: 100;
    overflow: hidden;
}

.main > h1 {
    margin: 0;
    font-size: 64px;
    letter-spacing: 12px;
}

.main > h1 > span {
    color: #D0021B;
}

.main > h3 {
    margin: 10px 0 0 0;
    font-size: 30px;
    letter-spacing: 2px;
}

.main .block {
    display: inline-block;
    width: 49%;
    height: 49%;
    margin: 0;
    padding: 0;
}

.main > .block > img {
    width: 80%;
    height: 120%;
    margin: 50px 40px 0 0;
}

.main input {
    display: block;
    margin: 6px 0 20px 0;
    padding: 10px;
    width: 76%;
    height: 40px;
    border: 1.5px solid #747474;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    
}

.main label {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
}

.main .block h1 {
    font-size: 50px;
    letter-spacing: 8px;
}

._second {
    position: absolute;
    
}

.main input[type="submit"] {
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    font-family: "PT Serif", serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #D0021B;
    border: 1.5px solid #D0021B;
}

.circle {
    position: absolute;
    background-color: #e8e8e8;
    border-radius: 50%;
    z-index: -1;
}

.first {
    width: 500px;
    height: 500px;
    top: -180px;
    left: -180px;
}

.second {
    width: 650px;
    height: 650px;
    top: 280px;
    left: 600px;
}